/node_modules
/public/bg_foto
/public/bukti_bayar
/public/foto_profile
/public/foto_kamar
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
